//
// Admin
// --------------------------------------------------

#wpadminbar {
    #wp-admin-bar-deggco {
        .deggco-icon {
            width: 130px;
            display: block;
            height: 28px;
            background: url(../img/Abrams_logo_small.png) 0 0 no-repeat;
        }
        &.hover {
            .deggco-icon {
                background-position: 0 -28px;
            }
        }
    }
}

.login {
    h1 {
        a {
            background-image: url(../img/Abrams_logo.png);
            background-size: contain;
            width: auto;
            margin-left: 9px;
            margin-bottom: 20px;
        }
    }
}
